[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Android NDK samples with Android Studio
[access "refs/*"]
	owner = group user/dm1090
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/dm1090
	label-Verified = -1..+1 group user/dm1090
	push = group user/dm1090
	read = group user/dm1090
	rebase = group user/dm1090
	removeReviewer = group user/dm1090
	submit = group user/dm1090
[access "refs/heads/*"]
	create = group user/dm1090
	push = +force group user/dm1090
	pushMerge = group user/dm1090
	read = group user/dm1090
[access "refs/tags/*"]
	push = group user/dm1090
	push = +force group user/dm1090
